exe
libreltrans.dylib
build
fort.*
*.o
*.mod
reltransFunctionMap.*
lpack_reltrans.cxx
.DS_Store
pkgIndex.tcl
libreltrans.so
*~
tables
tables/*
fftw
fftw/*
xillverCp_v3.5.fits
main
test_reltrans
Output/*
Benchmarks/*result*
benchmark
__pycache__
__pycache__/*
lib_reltrans.so*
run_model.py
**.swp
**.orig
**.egg-info
**.pdf
.gdbinit
test/_plots
